:root {
    --primary: #6e35ff;
    --hover: #5626d1;
    --text: #f5f5f5;
    --text-secondary: #9ca3af;
    --transparent: rgba(0, 0, 0, 0.8);
    --transparent-less: rgba(17, 25, 40, 0.8);
    --success: rgba(34, 197, 94, 0.3);
    --failure: rgba(239, 68, 68, 0.3);
}

.app {
    min-height: 100vh;
    min-width: 100vw;
}

.Not-Logged-In {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Not-Logged-In p {
    font-size: 1.5rem;
    font-weight: 400;
    margin: auto;
}

.loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
}

.error-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Toastify__toast {
    background-color: var(--transparent);
}

.Toastify__toast--success {
    border-color: var(--success);
}

.Toastify__toast--error {
    border-color: var(--failure);
}

.Toastify__progress-bar {
    background: var(--primary);
}

@media (max-width: 480px) {
    .Toastify__toast {
        width: 240px;
        margin: 0 12px 12px auto;
    }
}
