.app {
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}

.loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
}

.error-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Toastify__toast {
    background-color: rgba(27, 27, 30, 0.95);
}

.Toastify__toast--success {
    border-color: rgba(34, 197, 94, 0.3);
}

.Toastify__toast--error {
    border-color: rgba(239, 68, 68, 0.3);
}

.Toastify__progress-bar {
    background: #6e35ff;
}
