.discover {
    margin-bottom: 20px;
}

.content-grid {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 0 20px 10px 20px;
    scroll-behavior: smooth;
}
.content-grid::-webkit-scrollbar {
    display: none;
}
.content-grid > * {
    flex: 0 0 auto;
    width: 220px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-all {
    font-size: 1rem;
    font-weight: 50;
}

button {
    --primary-color: transparent;
    --secondary-color: lightgrey;
    --hover-color: #6e35ff;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 0.5em 1em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s color;
    align-items: center;
    gap: 0.6em;
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 10px 0;
}

button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}
button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}
button:hover {
    color: var(--hover-color);
}
button:hover .arrow {
    background: var(--hover-color);
}
button:hover .arrow:before {
    border-color: var(--hover-color);
    right: 0;
}

@media (max-width: 480px) {
    .content-grid > * {
        flex: 0 0 auto;
        height: 200px;
        width: 160px;
    }
    .discover h1 {
        font-size: 1.5rem;
    }
}
