.discover {
    margin-bottom: 10px;
}

.content-grid {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 10px 20px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.content-grid::-webkit-scrollbar {
    display: none;
}

.content-grid > * {
    flex: 0 0 auto;
    width: 180px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-row button {
    color: var(--text);
    font-weight: 600;
}

.discover-toggle {
    display: flex;
    justify-content: center;
}

.toggle-group {
    border-radius: 12px;
    padding: 6px;
}

.toggle-group .MuiToggleButton-root {
    color: var(--text-secondary) !important; /* Unselected text */
    background-color: var(--transparent) !important;
    border: none !important;
    font-weight: 500;
    text-transform: none;
    padding: 6px 16px;
    transition: all 0.2s ease;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.toggle-group .MuiToggleButton-root.Mui-selected {
    color: var(--text) !important;
    background-color: var(--primary) !important;
    font-weight: 600;
}

.toggle-group .MuiToggleButton-root:hover {
    background-color: rgba(60, 57, 57, 0.7) !important;
}

.toggle-group .MuiToggleButton-root.Mui-selected:hover {
    background-color: var(--hover) !important;
}

button {
    --arrow-width: 10px;
    --arrow-stroke: 3px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--text);
    padding: 0.5em 1em;
    background: transparent;
    display: flex;
    transition: 0.2s color;
    align-items: center;
    gap: 8px;
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 10px 0;
}

button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: transparent;
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}
button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--text);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}
button:hover {
    color: var(--primary);
}
button:hover .arrow {
    background: var(--primary);
}
button:hover .arrow:before {
    border-color: var(--primary);
    right: 0;
}

@media (max-width: 768px) {
    .button-row button {
        font-size: 1.1rem;
        padding: 8px 20px;
    }
    button {
        --arrow-stroke: 2px;
    }
}
@media (max-width: 480px) {
    .discover {
        margin-bottom: 0;
    }
}
