.logout-btn {
    margin: 30px 0 20px 0;
    padding: 10px 20px;
    background-color: #e63946;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
}

.logout-btn:hover {
    background-color: darkred;
    color: #fff;
}
