.user-stats-container {
    width: 100%;
    background-color: transparent;
    color: var(--text);
    border-radius: 1.5rem;
}

.overview-title {
    text-align: center;
    color: var(--text);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 30px 0;
}

.stats-box {
    display: flex;
    justify-content: space-between;
    background-color: var(--transparent-less);
    border-radius: 1rem;
    padding: 1.5rem 2rem;
}

.stats-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.stat-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.stat-label {
    color: #a1a1aa;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
}

.stat-value {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

.divider {
    width: 1px;
    background-color: #3f3f46;
    margin: 0 2.5rem;
}

.genre-row {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 15px 0;
    border-bottom: 1px solid #2c2c2e;
}

.genre-row:last-child {
    border-bottom: none;
}

.genre-title {
    margin: 30px 0;
    text-align: center;
    color: var(--text);
    font-size: 1.5rem;
    font-weight: 600;
}

.genres-box {
    display: flex;
    align-items: stretch;
    margin-top: 1rem;
}

.top-genres {
    background-color: var(--transparent-less);
    border-radius: 20px;
    padding: 25px;
    color: var(--text);
    font-family: system-ui, sans-serif;
    flex: 1;
}

.genres-box .divider {
    width: 1px;
    background-color: #3f3f46;
    margin: 0 1.5rem;
}

.top-genres h3 {
    text-align: center;
    color: var(--text);
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0;
}

@media (max-width: 768px) {
    .stats-box {
        padding: 1rem 2rem;
    }

    .genres-box {
        flex-direction: column;
    }

    .genres-box .divider {
        width: 100%;
        height: 1px;
        margin: 1rem 0;
    }

    .top-genres {
        padding: 0 20px 10px;
        border-radius: 12px;
    }

    .top-genres h3 {
        margin: 30px 0;
    }

    .stat-label {
        font-size: 0.7rem;
    }
    .stat-value {
        font-size: 1.5rem;
    }
    .section-title {
        font-size: 1.5rem;
    }
}
