.anime-list-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.anime-list {
    width: 100%;
}

.anime-list h1 {
    padding: 0 20px;
    text-align: start;
    font-size: 1.5rem;
}

.anime-grid-list {
    padding: 0 20px;
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.anime-grid-list::-webkit-scrollbar {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 1rem;
    margin-left: 15px;
    margin-right: 15px;
    scroll-behavior: smooth;
}

.anime-grid-list::-webkit-scrollbar {
    display: none;
}

.anime-grid-list > * {
    flex: 0 0 auto;
    width: 240px;
}

.anime-card-list {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
    cursor: default;
    position: relative;
    margin: 10px 0 10px 0;
}

.anime-card-image {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    position: relative;
    padding: 0;
}

.anime-card-title {
    width: 100%;
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 10px 12px;
    font-size: 1rem;
    color: lightgrey;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.anime-info-list {
    text-align: center;
    color: lightgrey;
}

.anime-card-list:hover {
    transform: scale(1.05);
}
